/* Custom sLider styling for better UI  */
input[type='range']::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    background: #6366f1;
    border-radius: 50%;
    cursor: pointer;
    transition: background .3s ease-in-out;
}

input[type='range']::-webkit-slider-thumb:hover {
    background: #818cf8;
}